@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lolo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="SHORTCUT ICON" href="~/images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="~/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/card.css" id="cord" />
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.4.2/css/all.css' integrity='sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns' crossorigin='anonymous'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
        <nav class="navbar navbar-inverse">
            <style>
                .navbar {
                    margin: 0px;
                }
            </style>
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"><a asp-controller="Home" asp-action="Index"><i class='fas fa-home'></i> Lolo</a></li>
                    @if (User.IsInRole("user"))
                    {
                        <li class="active"><a asp-controller="Blog" asp-action="Index"><i class='fas fa-user'></i></a></li>
                    }
                    @if (User.IsInRole("admin"))
                    {
                        <li class="active"><a asp-controller="Admin" asp-action="Index"><i class='fas fa-user-friends'></i></a></li>
                    }
                    @if (User.IsInRole("user"))
                    {
                        <li class="active"><a asp-controller="Blog" asp-action="AddBlog"><i class='fas fa-plus'></i> @SharedLocalizer["AddBlog"]</a></li>
                        <li class="active"><a asp-controller="Post" asp-action="AddPost"><i class='fas fa-plus'></i> @SharedLocalizer["AddPost"]</a></li>
                        @*<li class="active"><a href="~/index.html"><i class='fas fa-users'></i></a></li>*@

                        <li class="active"><a asp-controller="Home" asp-action="Users"><i class='fas fa-users'></i></a></li>
                        <li class="active"><a asp-controller="Tag" asp-action="Index"><i class='fas fa-tags'></i></a></li>
                    }
                </ul>
                @await Component.InvokeAsync("LoginStatus")
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
        </nav>
    @RenderBody()
    <vk></vk>
</body>
</html>
