@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@model IEnumerable<IdentityUser>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Список пользователей</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
<body>
    <h2>Список пользователей</h2>

    <table class="table table-condensed table-striped table-bordered">
        <thead><tr><th>Id</th><th>Email</th><th></th></tr></thead>
        <tbody></tbody>
    </table>

    <script>
        // Получение всех пользователей
        function GetUsers() {
            $.ajax({
                url: '/api/user',
                type: 'GET',
                contentType: "application/json",
                success: function (users) {
                    var rows = "";
                    $.each(users, function (index, user) {
                        // добавляем полученные элементы в таблицу
                        rows += row(user);
                    })
                    $("table tbody").append(rows);
                 }
            });
        }
        // Получение одного пользователя
        function GetUser(id) {
            $.ajax({
                url: '/api/user/'+id,
                type: 'GET',
                contentType: "application/json",
                success: function (user) {
                    var form = document.forms["userForm"];
                    form.elements["id"].value = user.id;
                    form.elements["Email"].value = user.Email;
                    form.elements["Password"]

                }
            });
        }

        // Удаление пользователя
        function DeleteUser(id) {
            $.ajax({
                url: "api/user/"+id,
                contentType: "application/json",
                method: "DELETE",
                success: function (user) {
                    $("tr[data-rowid='" + user.id + "']").remove();
                }
            })
        }
        // создание строки для таблицы
        var row = function (user) {
            return "<tr data-rowid='" + user.id + "'><td>" + user.id + "</td>" +
                "<td>" + user.email + "</td>" +
                   "<td><a class='removeLink' data-id='" + user.id + "'>Удалить</a></td></tr>";
        }
        // сброс значений формы
        $("#reset").click(function (e) {

            e.preventDefault();
            reset();
        })


        // нажимаем на ссылку Удалить
        $("body").on("click", ".removeLink", function () {
            var id = $(this).data("id");
            DeleteUser(id);
        })

        // загрузка пользователей
        GetUsers();

    </script>
</body>
</html>
