@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lolo</title>

</head>
<body>
    <div class="content">
        <div class="box-with-text">
            <div class="text">Lolo</div>
        </div>

    </div>
</body>


